<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   rel="stylesheet" 
                href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link   rel="stylesheet" 
                href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
        
        <title>Seymour audio collections</title>

        <style type="text/css">

            .track {
                margin:         2px;
                padding:        4px;
                text-align:     justify;
            }
        </style>
    </head>

    <body>
    <!-- Nav header with a drop-down full of collections -->

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Seymour</a>
                </div>
                <form id="myform" class="navbar-form navbar-right" role="search">
                    <input class="form-control" type="text" id="query" size="50" placeholder="Miles Davis" autofocus />
                    <button type="submit" id="search" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </nav>

        <div class="container container-fluid col-md-12">
            <div class="row">
                <div class="panel panel-default hidden" id="results">
                    <div class="panel-heading">
                        <input type="hidden" id="offset" value="0" />
                        <input type="hidden" id="limit" value="12" />
                        <input type="hidden" id="track_count" value="0" />
                        <ul class="pager">
                            <li class="previous disabled"><a href="#">&larr; Previous</a></li>
                            <li class="form-group form-inline" id='track-form'> 
                                <label for="track-min" id="collection-name" class="form-inline"></label> 
                                <span id="track-min" type="text" class="form-control-static" style="width: 6em;"></span>
                                <label for="track-max"> to </label> 
                                <span id="track-max" type="text" class="form-control-static" style="width: 6em;"></span>
                                of <span id="track-total"></span>
                            </li>

                            <li class="next disabled"><a href="#">Next &rarr;</a></li>
                        </ul>
                    </div>
                    <div class="panel-body container">
                    <div id="tracklist" class="list-group list-inline" ></div>

                    </div>
                </div>
            </div>
            <div class="alert alert-danger hidden" id="noresults">
                No results.
            </div>
        </div>
    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="/static/js/search.js"></script>
</html>
